body{

    background-color: #f8f8f8;

}



#navbar{

    background-color: 0079ff;

}

#card1{

background-color: #0079ff;
border-radius:0px;
}


#card2{

    background-color: #0079ff;
    border-radius:0px;
    color: white;
}


#Menu{

color: white;

}







#credito{

border-radius: 1em;
height: 200px;

}


#credito:hover{

background-color: #0079ff ;
color: #ffffff;

}


#cuotas{
    border-radius: 1em;
    height: 200px;
}


#cuotas:hover{

background-color: #0079ff ;
color: white;

}



#barraH{

    background-color: #f8f8f8;


}



#Datos button{
color: #919499;
background-color: rgb(241, 240, 240);
width: 100%;
border: none;
border-radius: 0.5em;
}



#Datos button:hover{

    background-color: #0079ff ;
    color: white;

}


.btn{

background-color:#0079ff;
width: 50%;
border: none;
height: 55px;
border-radius: 2em;
color: white;
position: relative;
top: 1em;
}


.btn:focus{

border: none;

}

.btn:hover{

background-color: #0079ff;
border: none;
color: white;
}


.btnn{
width: 100%;
background-color: rgb(241, 240, 240);
border: none;
border-radius: 0.5em;
}


.btnn:hover{
background-color: #0079ff;
color: white;
}



.btnnn{
width: 100%;
background-color: rgb(241, 240, 240);
border: none;
border-radius: 0.5em;

}

.btnnn:hover{
background-color: #0079ff;
color: white;
}


#datos .col{ 

    border: solid rgb(197, 197, 197) 0.5px ;
    border-radius: 1em;
}