#navbar{

    background-color: 0079ff;

}

#Menu{

color: white;

}



#credito{
color: #000000;
border: none;
width: 100%;
background-color: white;
border-radius: 1em;
filter: drop-shadow( 0px 0px 4px #000000);
}

#credito:hover{

background-color: #0079ff ;
color: white;

}


#cuotas{
color: #000000;
border: none;
width: 100%;
background-color: white;
border-radius: 1em;
filter: drop-shadow( 0px 0px 4px #000000);
}


#cuotas:hover{

background-color: #0079ff ;
color: white;

}

#Datos button{
background-color: rgb(241, 240, 240);
width: 100%;
border: none;
border-radius: 0.5em;
filter: drop-shadow( 0px 0px 2px #000000);
}



#Datos button:hover{

    background-color: #0079ff ;
    color: white;

}


.btn{

background-color: rgb(241, 240, 240);
width: 80%;
border: none;
filter: drop-shadow( 0px 0px 2px #000000);


}

.btn:focus{

border: none;

}

.btn:hover{

background-color: #0079ff;
border: none;

}


.btnn{
width: 100%;
background-color: rgb(241, 240, 240);
border: none;
border-radius: 0.5em;
}


.btnn:hover{
background-color: #0079ff;
color: white;
}



.btnnn{
width: 100%;
background-color: rgb(241, 240, 240);
border: none;
border-radius: 0.5em;

}

.btnnn:hover{
background-color: #0079ff;
color: white;
}


